<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAfJbH32y4Fp02g0kXOp090w4AWwRgJczg</string>
	<key>GCM_SENDER_ID</key>
	<string>1035027800872</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.raceTrackerApp</string>
	<key>PROJECT_ID</key>
	<string>race-tracker-app</string>
	<key>STORAGE_BUCKET</key>
	<string>race-tracker-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1035027800872:ios:a6c4766d1554081cbc661d</string>
</dict>
</plist>